html {
    height: 100%;
    width: 100%;
  }
  
  
  #clickMe {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  